<!-- navigation bar-->
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
         <!-- top left menu -->    
          <div class="col-xs-9 col-sm-3 top-left-menu">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html">
                <h1>wold_app</h1>
              </a>
                
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>    
                
            </div>
              <a href="#" class="header-home pull-right">
                <span class="glyphicon glyphicon-equalizer" aria-hidden="true">
                </span>
              </a>
          </div>
          
          <!-- nav-header-right -->
          <div id="nav-menu" class="pull-right">
            <ul class="nav navbar-nav hidden-xs">
              <li>
                <a class="nav-item" href="#about">Ayuda</a>
              </li>
            </ul>
              
            <!-- options profile dropdown -->
            <div id="nav-profile" class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle thumbnail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/user.jpg" class="img-circle">
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div> 
        </div>
       </div>
      </div>
    </nav>