<!-- side menu -->
    <div class="container-fluid">
      <div class="row">
        <div id="side-menu" class="col-xs-9 col-sm-3">
          
          <!-- profile block -->
          <div class="profile-block">
            <img src="./images/user.jpg" class="img-circle">
            <h4 class="profile-title">default-user  <small>@default-user</small>
            </h4>
          </div>
          
          <!-- side menu options -->    
          <ul class="nav nav-pills nav-stacked">
           <!-- register options -->      
           <li>
              <a href="#register-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="register-opts">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                </span>
                Registro
                <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
              </a>
              <ul class="collapse list-unstyled" id="register-opts">
                <li>
                  <a href="#" class="transition">
                    Proveedor
                  </a>
                </li>
                <li>
                  <a href="#" class="transition">
                    Vendedor
                  </a>
                </li>
                <li>
                  <a href="#" class="transition">
                    Clientes
                  </a>
                </li>
              </ul>
          </li>
          <li class="nav-divider"></li>
          <!-- sale options -->
          <li>
            <a href="#sale-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sale-opts">
              <span class="glyphicon glyphicon-usd" aria-hidden="true">
              </span>
              Ventas
              <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="sale-opts">
              <li>
                <a href="#" class="transition">
                  Registrar/Ver 
                </a>
              </li>
            </ul>
          </li>
          <!-- tech support options -->      
          <li>
            <a href="#tech-support-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="tech-support-opts">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true">
              </span>
                Serv. Tecnico
              <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="tech-support-opts">
              <li>
                <a href="#" class="transition">
                  Registrar/Ver 
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Entregados
                </a>
              </li>
            </ul>
          </li>
          <!-- products options -->      
          <li>
            <a href="#products-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="products-opts">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                Productos
              <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="products-opts">
              <li>
                <a href="#" class="transition">
                  Registrar/Ver 
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Compras
                </a>
              </li>
            </ul>
          </li>
          <!-- reports options -->      
          <li class="nav-divider"></li>
          <li>
            <a href="#reports-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="reports-opts">
              <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                Informes
                <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="reports-opts">
              <li>
                <a href="#" class="transition">
                  Compras
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Ventas
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Devoluciones
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Contabilidad
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Existencias
                </a>
              </li>
              <li>
                <a href="#" class="transition">
                  Servicio Técnico
                </a>
              </li>
            </ul>
          </li>
        </ul>
    </div>